.header {
    background: #FFFCFC;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.1);
    padding: 30px 0 20px;
    height: 160px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 210px;
        display: block;
        img {
            width: 100%;
        }
    }
    &__title {
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        margin-top: 14px;
        color: $blackLight;
    }
    &__desc {
        font-weight: 300;
        font-size: 12px;
        line-height: 104.4%;
        margin-top: 2px;
    }
    &__right {
        display: flex;
        align-items: center;
    }
    &__cart {
        background: #51B1A6;
        border-radius: 16px;
        padding: 0 7px 0 15px;
        height: 34px;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-left: 170px;
        &-icon {
            margin-right: 17px;
        }
        &-num {
            height: 21px;
            display: flex;
            align-items: center;
            padding: 0 11.5px;
            background: #FFFFFF;
            border-radius: 16px;
            font-weight: bold;
            font-size: 14px;
            color: $green;
        }
    }
    &-nav {
        display: flex;
        align-items: center;
        &__item {
            font-size: 18px;
            line-height: 25px;
            color: #5A5A75;
            &:not(:last-child) {
                margin-right: 40px;
            }
            &:hover {
                color: $green;
            }
            &.router-link-active {
                color: $green;
            }
        }
    }
}